.dinner{
    width: 28%;
    background-color: lemonchiffon;
    border-radius: 10px;
    margin: 20px;
    float: left;
    text-align: center;
    box-shadow: 5px 5px 15px lightgreen;
    padding: 10px;
    cursor: pointer;
}