nav{
    display: flex;
}
nav img{
    width: 50%;
    height: 75%;
    margin-top: 15px;
}
.menu{
   margin: 30px auto;
}
.menu a {
    margin-left: 75px;
    text-decoration: none;
    color: black;
}
.signUp{
    background-color:tomato;
    border-radius: 20px;
    line-height: 40px;
    padding: 10px 25px;
    margin-top: 8px;
}
.background{
   width:1300px;
   height: 475px;
}
.category{
   text-align: center;
}
.category a{
    text-decoration: none;
    margin-left: 100px;
    color: #000;
    font-weight: bold;
    font-size: 30px;
}
.category a:hover{
    text-decoration: none;
    margin-left: 100px;
    color: rgb(214, 41, 10);
    font-weight: bold;
    font-size: 30px;
    border-bottom: 5px solid rgb(214, 41, 10);
}
