.breakfasts{
    width: 28%;
    background-color: lightsalmon;
    border-radius: 10px;
    margin: 20px;
    float: left;
    text-align: center;
    box-shadow: 5px 5px 15px lightgreen;
    padding: 10px;
}
img{
    margin-top: 10px;
    width: 300px;
    height: 300px;
    border-radius: 100px;
}